

  <ion-content >
    <div style="margin-top: 90px;">
      <h1 style="color: orange; text-align: center;">Welcome to Kortez taxi services, before we get started please verify your account</h1>
      <ion-button style="margin-left: 0%; width: 100%; --background: orange;" class="submit-btn" [routerLink]="'/driver-verify'" type="submit" >Verify Email</ion-button><br><br>
      <h2 style=" width: 90%; text-align: center; font-size: 16pt; margin-left: 25px;">OR</h2>
      <ion-button style="margin-left: 0%; width: 100%; --background: orange;" [routerLink]="'/verification'" class="submit-btn" type="submit" >Verify phone number</ion-button>
    </div>


  </ion-content>

