<ion-header>
  <ion-toolbar>
    <ion-title>Cash Payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="../../assets/cash2.png" alt="" style="height: 150px; width: 150px ;margin-left: 95px; margin-top: 100px;">
<h2 style="text-align: center;">Hello {{name}} your total payment for this trip is <br> R: {{totalPrice}}</h2>
<div style="align-items: center; display: flex; margin-left: 65px; margin-top: 80px; gap: 3;">
  <ion-button style=" --background: orange" [routerLink]="'/terms'">Confirm</ion-button>
<ion-button style=" --background: orange" [routerLink]="'/folder'">cancel</ion-button>
</div>

</ion-content>
