<ion-header>
  <ion-toolbar>
    <ion-title>driverNav</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div id="container" *ngFor='let data of data'>

  <agm-map  style="height: 300px"
  [latitude]="latitude"
  [longitude]="longitude"
 >
        <agm-marker [latitude]="data.latitude" [longitude]="data.longitude"></agm-marker>
        <agm-marker [latitude]="data.lat1" [longitude]="data.long1"></agm-marker>

        <agm-direction
          [origin]="origin"
          [destination]="destination"
        ></agm-direction>

</agm-map>

<ion-button (click)="getDirection()">Accept</ion-button><br>

  <ion-label>Pickup </ion-label><br>
  <strong >{{ data.latitude }}</strong><br>
  <strong >{{ data.longitude }}</strong>
<br><br>
  <ion-label>Drop of </ion-label><br>
  <strong >{{ data.lat1 }}</strong><br>
  <strong >{{ data.long1 }}</strong>

  </div>
</ion-content>
