<!--<ion-header>
  <ion-toolbar>
    <ion-title>terms</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div #map id="map"></div>

<br><br>

  <ion-button  style=" width: 90%; --background:orange; margin-left: 19px;"  (click)="delete()">Cancel request</ion-button>

  <!-- <div id="container" *ngFor='let data of data'>

  <agm-map
  [latitude]="latitude"
  [longitude]="longitude"
 >
 <agm-direction
 [origin]="origin"
 [destination]="destination"
></agm-direction>
        <agm-marker [latitude]="data.latitude" [longitude]="data.longitude"></agm-marker>
        <agm-marker [latitude]="data.lat1" [longitude]="data.long1"></agm-marker>
</agm-map> -->



<!--
   <ion-label>Pickup </ion-label><br>
  <strong >{{ data.latitude }}</strong><br>
  <strong >{{ data.longitude }}</strong>
<br><br>
  <ion-label>Drop of </ion-label><br>
  <strong >{{ data.lat1 }}</strong><br>
  <strong >{{ data.long1 }}</strong>
-->



  <!-- </div> -->
</ion-content>
