<ion-header>
  <ion-toolbar>
    <ion-title>forgot-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <b>
    <h3 style="text-align: center; margin-top: 40px;"> <span class="multicolortext"> KORTEX Taxi services</span></h3>
  </b>

    <form>
     <h4 style="text-align: center;">

        Please provide the email address that you used
        <br>
        to retrieve your password

    </h4>
    <ion-item>
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-input placeholder="Email" type="email" required #email></ion-input>
    </ion-item>


        <ion-button style="margin-top: 30px; margin-left: 20px;  margin-right: 20px; margin-bottom: 10px" color="primary" type="submit" expand="block"  (click)="forgotPassword(email.value)">Send</ion-button>



        <ion-button style="margin-top: 30px; margin-left: 20px;  margin-right: 20px; margin-bottom: 10px" color="primary" type="submit" expand="block" [routerLink]="'/login'" >Back</ion-button>

    <div class="alert alert-success" *ngIf="message">

     please check email for new password


    </div>

  </form>
</ion-content>
